<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ site.url }}/assets/js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
<script src="{{ site.url }}/assets/js/scripts.min.js"></script>
<script>
  (function(){
    if (!window.jQuery) return;
    $(function(){
      $('.article-wrap p > img').each(function(){
        var $img = $(this);
        var alt = $img.attr('alt');
        var title = $img.attr('title');
        var caption = title || alt;
        // If already inside a figure, skip
        if ($img.parent().is('figure')) return;
        var $figure = $('<figure></figure>');
        $img.replaceWith($figure);
        $figure.append($img);
        if (caption) {
          var $figcap = $('<figcaption></figcaption>').text(caption);
          $figure.append($figcap);
        }
      });
    });
  })();
</script>
{% if site.google_analytics %}
<!-- Asynchronous Google Analytics snippet -->
<script>
  var _gaq = _gaq || [];
  var pluginUrl = 
 '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
  _gaq.push(['_require', 'inpage_linkid', pluginUrl]);
  _gaq.push(['_setAccount', '{{ site.google_analytics }}']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
{% endif %}