<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }} - Small stuff by szilardhuber</title>

    <link rel="stylesheet" href="{{ site.url }}/stylesheets/styles.css">
    <link rel="stylesheet" href="{{ site.url }}/stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-46741385-1', 'auto');
      ga('send', 'pageview');

    </script>
</head>
  <body>
    <div class="wrapper">
      <header>
        <p><img src="/images/0714ff8c31ec40ef85a33cff8d8d0a87_512x512.jpeg" alt="Szilárd Huber" style="border-radius: 50%; max-width: 150px; display: block; margin: 20px auto;"></p>

        <h1><a href="{{ site.url }}">Small stuff</a></h1>
        <p>Neither a developer nor a leader but loves creating software</p>

        <p class="view"><a href="https://github.com/szilardhuber">View My GitHub Profile</a></p>

        <h3>Education</h3>
        <p><strong>MSc. Software Engineering</strong><br>
        University of Szeged<br>
        1997 - 2002</p>

        <h3>Technical Skills</h3>
        <p><strong>Languages:</strong><br>
        Go, Rust, JavaScript/TypeScript, Python, C++</p>
        
        <p><strong>Core Strengths:</strong><br>
        Building data-intensive web applications, System architecture design, Performance optimization</p>
        
        <p><strong>Leadership & Soft Skills:</strong><br>
        Team building & mentoring, Requirement gathering, Client relationship management, Crisis management, Cross-functional collaboration</p>
        
        <p><strong>Technologies:</strong><br>
        Data engineering pipelines, BI platforms, Cloud services (AWS, Snowflake), Agile/Scrum</p>

      </header>
      <section>
        {{ content }}
        
        <hr>
        
        <p><a href="{{ site.url }}">← Back to articles</a></p>
      </section>
  </div>
</body>
</html>
